.user-menu {
  margin: 20px;

  mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.user-info {
  font-size: 10pt;
}

.user-role::after {
  content: ', ';
}

.user-role:last-child::after {
  content: '';
}
