<div *ngIf="proposal">
  <div>
    <h2>
      <a class="title-link" *ngIf="card && !dialog" (click)="openProposalDetailDialog()" (click)="$event.stopPropagation()">
        {{ proposal.title | translateText }}
      </a>
      <ng-container *ngIf="!card && !dialog">
        {{ proposal.title | translateText }}
      </ng-container>
      <div ngClass.gt-xs="pull-right gt-xs-proposal-extra-info" fxHide.lt-sm>
        <div class="proposal-icons">
          <mat-icon *ngIf="proposal.sector" matTooltip="{{ enums.Sector[proposal.sector] | translate }}">
            {{ proposal.getSectorIcon() }}
          </mat-icon>
        </div>
      </div>
    </h2>
    <div class="proposal-target-summary">
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinCost(); let cost;">
        <span>{{ cost | cost }}</span>
        <span *ngIf="proposal.getMaxCost(); let maxCost"> - {{ maxCost | cost }}</span>
      </span>
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinTargetAmount(enums.TargetType.savedRussianGas); let amt;">
        <mat-icon class="inline">propane</mat-icon>
        <span>{{ amt | number }} bcm</span>
        <span *ngIf="proposal.getMaxTargetAmount(enums.TargetType.savedRussianGas); let maxAmt"> - {{ maxAmt | number }} bcm</span>
      </span>
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinTargetAmount(enums.TargetType.savedRussianOil); let amt;">
        <mat-icon class="inline">oil_barrel</mat-icon>
        <span>{{ amt | number }} mb</span>
        <span *ngIf="proposal.getMaxTargetAmount(enums.TargetType.savedRussianOil); let maxAmt"> - {{ maxAmt | number }} mb</span>
      </span>
      <span class="proposal-target-summary-item" *ngIf="proposal.getSingleOrMinTargetAmount(enums.TargetType.reducedCo2emissions); let amt;">
        <mat-icon class="inline">cloud_download</mat-icon>
        <span>{{ amt | number }} mt</span>
        <span *ngIf="proposal.getMaxTargetAmount(enums.TargetType.reducedCo2emissions); let maxAmt"> - {{ maxAmt | number }} mt</span>
      </span>
    </div>
    <p>{{ proposal.summary | translateTextAsync | async }}</p>
  </div>
</div>
