.title-link {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.proposal-thumb {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 160px;
}

.proposal-thumb-xs {
  width: 100%;
}

.gt-xs-proposal-extra-info {
  text-align: right;
}

.proposal-icons {
  mat-icon+mat-icon {
    margin-left: 12px;
  }

  white-space: nowrap;
}

.proposal-target-summary {
  opacity: 0.6;
  margin-top: -16px;
  margin-bottom: 12px;
}

.proposal-target-summary-item:not(:last-child) {
  &::after {
    opacity: 0.6;
    content: '•';
    margin-right: 6px;
    margin-left: 6px;
  }
}

.proposal-target-impact-summary {
  font-size: smaller;
}
