<div class="page-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
  <div fxFlex="60%" fxFlex.lt-md="100%" class="proposals">
    <h1 class="results-header">
      <app-help-widget tooltipKey="helpProposals" textKey="Proposals" dialogKey="helpProposals" [withoutSpace]="true"></app-help-widget>
      <!-- <div class="project-filters" ngClass.xs="project-filters-xs">
        <mat-form-field>
          <mat-label>{{ 'Filter proposals' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="proposalsFilter" (input)="filterChanged()">
        </mat-form-field>
      </div> -->
    </h1>

    <div *ngIf="filteredProposals$ | async; let filteredProposals">
      <app-proposal *ngFor="let proposal of filteredProposals" [proposal]="proposal"></app-proposal>

      <p *ngIf="filteredProposals.length > 0 && filteredProposals.length < proposalService.proposals$.value.length">
        {{ 'Cannot find the proposal you are looking for? There is a filter applied.' | translate }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
      </p>

      <p *ngIf="filteredProposals.length === 0">
        {{ 'No proposals found with this filter.' }} <a (click)="clearFilter()">{{ 'Click here to clear it.' | translate }}</a>
      </p>
    </div>

    <button mat-raised-button (click)="clearSelection()" style="margin-top: 12px">{{ 'Clear selection' | translate }}</button>
  </div>
  <div fxFlex="40%" fxFlex.lt-md="100%" ngClass.gt-sm="results">
    <app-results></app-results>
  </div>
</div>

<app-results-mobile-summary fxHide.gt-sm class="mat-elevation-z8" (click)="showResults()"></app-results-mobile-summary>
