.result-section-mobile {
  display: flex;
}

.progress {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: inline-block;
}

.result-section-mobile-title-icon {
  display: inline-block;
  font-size: 120%;
  margin-left: 6px;
  margin-right: 6px;
}

